input[type='text'],
input[type='email'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type='submit'] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

input[type='submit']:hover {
  background-color: #45a049;
}

.container {
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  /* background-color: #bbbaba2c; */
  padding: 20px;
  width: fit-content;
  height: 100%;
}
.input_title {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: start;
}

.col-75 {
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type='submit'] {
    width: 100%;
    padding-bottom: 0.5rem;
    margin-top: 0;
  }
  .container {
    width: 100%;
  }
  .input_title {
    margin-bottom: 1rem;
    font-size: 0.8rem;
  }
}
