/* relevant styles */
.img__wrap {
  position: relative;
  max-height: 200px;
  max-width: 257px;
}
.img__wrap img {
  width: 100%;
  height: auto;
  /* max-height: 200px;
  max-width: 257px; */
}

.img__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  padding: 1rem;
  cursor: pointer;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}

.img__wrap:hover .img__button {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
}

.img__wrap:hover {
  opacity: 0.9;
  transition: opacity 0.6s ease-in-out;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
