.headerlayout_banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.banner_left {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
}
.banner_right {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 7rem;
  opacity: 0.8;
  /* padding-right: 0.5rem; */
}
