.header_title {
  display: block;
  padding: 1rem;
}
.header_title_name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  /* text-shadow: 0 0 10px #000; */
  line-height: 2rem;
}
.header_title_desc {
  font-size: 0.7rem;
  color: #000;
}

@media screen and (max-width: 768px) {
  .header_title {
    padding: 0rem;
  }
  .header_title_name {
    font-size: 1rem;
    line-height: 1rem;
  }
  .header_title_desc {
    font-size: 0.5rem;
  }
}
